*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100vw;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .container-box{
    height: 70%;
    width: 50%;
    border: 1px solid black;
    background-color: blanchedalmond;
}
.container .container-box h1{
    text-align: center;
    font-size: 17px;
    margin: 10px 0;
}
.container .container-box #d_flex{
    display: flex;
    text-align: center;
}
.container .container-box .main{
    padding: 10px;
    border: 1px solid black;
    width: 50%;
    height: 100%;
}